.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/
PainPal/PainPal.xcodeproj/project.xcworkspace/xcuserdata/chapwiz.xcuserdatad/UserInterfaceState.xcuserstate
